* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background: #777; */
}

.cfm-container {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 0;
}

.cfm-slider {
    background-image: radial-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.8)),url(/images/bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 90vh;
    border-bottom-left-radius: 15rem;
    border-bottom-right-radius: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    animation: slide 20s infinite;
}

@keyframes slide {
    25% {
        background-image: radial-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.8)),url(/images/bg1.jpg);
    }
    50% {
        background-image: radial-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.8)),url(/images/car.jpg);
    }
    75% {
        background-image: radial-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.8)),url(/images/fortw.jpg);
    }
    100% {
        background-image: radial-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.8)),url(/images/fortws.jpg);
    }
}


.hero-text {
    width: 50%;
    margin: 0 auto;
}

.hero h1 {
    font-size: 12vmin;
    color: #fff;
    text-align: center;
}

.hero-bottom-box2 {
    background-image: url(./images/center-banner.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: -3%;
    left: 15%;
    margin: 0 auto;
    width: 80%;
    min-height: 80px;
    /* background: rgb(156, 8, 8); */
    z-index: 10;
}
.hero-bottom-box img {
    width: 100%;
}

























