* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ================ CUSTOM CLASSES ================= */
section {
    width: 100%;
    /* min-height: 30vh; */
}
.hidden-2 {
    display: none;
}
.flex-d {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img {
    transition: .3s ease;
}
img:hover {
    transform: scale(1.1);
}
.custom-width {
        width: 80%;
        margin: 2rem auto;
        color: #000;
}

h2 {
    font-size: 6vmin;
    font-weight: bold;
    margin-bottom: 1rem;
}

.btn-custom {
    width: 300px;
    background: rgb(235, 12, 4);
    color: #fff;
    margin: 1rem 0;
    z-index: 10;
}
.btn-custom:hover {
    background: rgb(243, 27, 20);
    color: #fff;
}

/* <!-- ------------------ Hero Section ------------------ --> */

.cfm-hero {
    position: relative;
}

.cfm-hero-container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.cfm-img-slider {
    background-image: radial-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.8)),url(/images/bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 80vh;
    border-bottom-left-radius: 15rem;
    border-bottom-right-radius: 15rem;
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: slide 20s infinite;
    position: relative;
}

@keyframes slide {
    25% {
        background-image: radial-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.8)),url(/images/bg1.jpg);
    }
    50% {
        background-image: radial-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.8)),url(/images/image1.png);
    }
    75% {
        background-image: radial-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.8)),url(/images/Mask\ Group.svg);
    }
    100% {
        background-image: radial-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.8)),url(/images/RevTokula.png);
    }
}

.cfm-img-slider h1 {
    width: 50%;
    font-size: 10vmin;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 5px #2b2a2a;
    font-family: Bodoni Bd BT, serif;
}

.cfm-center-banner {
    position: absolute;
    top: 85%;
    width: 80%;
    height: 150px;
    background-image: url(./images/center-banner.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.church-centers-wrapper {
    width: 60%;
}
.church-centers-wrapper img {
    width: 100%;
}

.empty-space {
    width: 30%;
    height: 40px;
}

/* <!-- ------------------ Video Section ------------------ --> */
.cfm-video-container {
    width: 90%;
    color: black;
    margin: 0 auto;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cfm-video-container h2 {
    font-size: 6vmin;
}
.cfm-video-container p {
    font-size: 3vmin;
}

.video-wrapper {
    margin: 1rem 0;
    width: 80%;
}
.video-wrapper video {
    width: 100%;
}

/* <!-- ------------------ Live Stream Section ------------------ --> */
.live-stream-container {
    position: relative;
    width: 100%;
    background: #1e91c7;
    color: #fff;
    border-top-right-radius: 15rem;
    border-top-left-radius: 15rem;
    padding: 4rem 4rem 1rem;
    margin: 4rem 0;
    text-shadow: 0 0 2px #00000022;
    overflow: hidden;
}

.audio-links {
    padding: 3rem 0 4rem;
}

.audio-wrapper {
    width: 35%;
    height: 100px;
    border-radius: 1rem;
    margin: 10px;
}
.audio-wrapper img {
    width: 100%;
}

.ministers-wrapper {
    margin-top: 6rem;
    justify-content: space-between;
    padding: 1rem 2rem;
}
.ministers-info {
    width: 35%;
    margin-top: 3rem;
}

.ministers-info h2 {
    font-size: 6vmin;
}

.ministers-img-container {
    position: relative;
    width: 45%;
}

.ministers-img {
    position: relative;
    width: 78%;
    z-index: 3;
}
.ministers-img img {
    width: 100%;
}
.rev {
    position: absolute;
    right: 40%;
    
}

.bottom-filter {
    width: 100%;
    height: 150px;
    background: #1e91c7;
    position: absolute;
    bottom: -5%;
    z-index: 10;
}

/* ----- Background circle borders ------- */
.circle-borders7,
.circle-borders8,
.circle-borders9,
.circle-borders10,
.circle-borders11,
.circle-borders12,
.circle-borders13,
.circle-borders14
 {
    position: absolute;
    border: 2px solid rgb(39, 208, 238);
    width: 20%;
    border-radius: 50%;  
}

.circle-borders7::after,
.circle-borders8::after,
.circle-borders9::after,
.circle-borders10::after,
.circle-borders11::after,
.circle-borders12::after,
.circle-borders13::after,
.circle-borders14::after
{
    content: '';
    display: block;
    padding-bottom: 100%;
}

/* ------- Top-Left-Corner ------ */
.circle-borders7 {
    top: -10%;
    left: -.5%;
    width: 18%;
}
.circle-borders8 {
    top: -10%;
    left: -1%;
}

/* ----- Top-right-Corner ----- */
.circle-borders9 {
    top: -10%;
    right: -.5%;
    width: 18%;
}

.circle-borders10 {
    top: -10%;
    right: -1%;
}
/* ------- Thick-Layered-Borders ------ */
.circle-borders11 {
    top: 39%;
    right: -8%;
    width: 40%;
    border: 24px solid rgb(228, 243, 17);
    border-bottom: 24px solid transparent;
}

.circle-borders12 {
    top: 36%;
    right: -10%;
    border: 24px solid rgb(252, 255, 255);
    border-bottom: 24px solid transparent;
    width: 44%;
}
/* ------ Middle borders ------ */
.circle-borders13 {
    top: 52%;
    right: 15%;
    width: 44%;
    border: 4px solid rgb(228, 243, 17);
    border-bottom: 4px solid transparent;
}

.circle-borders14 {
    top: 48%;
    right: 12%;
    width: 50%;
    border: 6px solid rgb(255, 255, 255);
    border-bottom: 4px solid transparent;
}

/* ---------------------- RELEVANT CHURCH ----------------- */


.relevant-church-container{
    width: 80%;
    margin: 2rem auto;
    color: #000;
}
.the-future h2 {
    font-size: 6vmin;
}

.the-future p {
    font-size: 3vmin;
}

.video-wrapper {
    margin: 1rem 0;
    width: 80%;
}

/* ----------------- Resources ----------------- */
.resources {
    width: 80%;
    margin: 4rem auto;
    color: #000;
    text-align: center;

}

.web-banner {
    background-image: url(./images/WEB\ BANNER.png);
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 137px;
    margin: 1rem;
    border-radius: 8px;
}

/* ----------------- Upcoming Events --------------- */
.event-wrapper {
    padding-bottom: 3rem;
}
.event-img {
    width: 30%;
    margin: 1rem;
}
.event-img img {
    width: 100%;
}

/* ---------------- Partnership -------------------- */
.partnership-container {
    background-image: url(./images/1\ CHURCH\ WEB\ BANNER\ 2\ 2.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 500px;
    color: #fff;
    position: relative;
    justify-content: space-around;
    overflow: hidden;
}

.partnership-img {
    width: 50%;
    margin-top: 5rem;
    margin-bottom: 0;
    z-index: 10;
}
.partnership-img img {
    width: 100%;
}

.partnership-text {
    margin: 2rem;
    width: 30%;
}

.circle-borders15,
.circle-borders16
 {
    position: absolute;
    border: 24px solid #fff;
    width: 42%;
    border-radius: 50%;  
}

.circle-borders15::after,
.circle-borders16::after
{
    content: '';
    display: block;
    padding-bottom: 100%;
}

/* ---------------- Borders ---------------- */
.circle-borders15 {
    bottom: -38%;
    left: 10%;
    width: 48%;
}
.circle-borders16 {
    bottom: -31%;
    left: 13%;
    border: 24px solid rgb(248, 233, 22);
}

/* ------------------------- Testimony ------------------------ */
.testimony-container {
    background: #1e91c7;
    min-height: 50vh;
    margin-top: 5rem;
    padding: 3rem;
    color: #fff;
    border-radius: 1rem;
}

/* ================= MEDIA QUERY =============== */
@media(max-width: 700px) {
    .flex-col-sms {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .sms-width {
        width: 90%;
        padding: 0;
    }


    .cfm-img-slider {
        border-bottom-right-radius: 2rem;
        border-bottom-left-radius: 2rem;
    }
    .hidden {
        display: none;
    }
    .hidden-2 {
        display: block;
    }

    .live-stream-container {
        padding: 3rem 1rem;
        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;
    }
    .audio-links,
    .ministers-wrapper,
    .partnership-container  {
        flex-direction: column;
    }
    
    .audio-wrapper {
        width: 80%;
        margin: 1rem auto;
    }

    .ministers-info {
        width: 80%;
        margin: 2rem auto;
    }

    .ministers-img-container {
        width: 90%;
        margin: 1rem 1rem 1rem 3rem;
    }

    .ministers-wrapper {
        padding: 0;
        margin: 2rem auto;
    }
}
















